<div class="page-header">
  <h3>Guest #<%= @guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @guest.host.present? %>
          <a href="/hosts/<%= @guest.host_id %>">
            <%= @guest.host.email %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @guest.user.present? %>
          <a href="/users/<%= @guest.user_id %>">
            <%= @guest.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guests" class="btn btn-primary">
        Back
      </a>
      <a href="/guests/<%= @guest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guest/<%= @guest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Guest has many bookings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookings
      </li>

      <% @guest.bookings.each do |booking| %>
        <li class="list-group-item">
          <a href="/bookings/<%= booking.id %>">
            <%= booking.available %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookings/<%= booking.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookings/<%= booking.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_booking/<%= booking.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_booking" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for available -->
      <div class="checkbox">
        <label for="available">
          <input type="checkbox" id="available" name="available" value="1" <%= "checked" if @booking.available %>>
          Available
        </label>
      </div>

      <!-- Label and input for guests_id -->
      <div class="form-group">
        <label for="guests_id" class="control-label">
          Guests
        </label>

        <%= select_tag(:guests_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listings_id -->
      <div class="form-group">
        <label for="listings_id" class="control-label">
          Listings
        </label>

        <%= select_tag(:listings_id, options_from_collection_for_select(Listing.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Booking
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Guest has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @guest.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listings_id -->
      <div class="form-group">
        <label for="listings_id" class="control-label">
          Listings
        </label>

        <%= select_tag(:listings_id, options_from_collection_for_select(Listing.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for guests_id -->
      <div class="form-group">
        <label for="guests_id" class="control-label">
          Guests
        </label>

        <%= select_tag(:guests_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Datetime
        </label>

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Message
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Guest has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @guest.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.listings_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listings_id -->
      <div class="form-group">
        <label for="listings_id" class="control-label">
          Listings
        </label>

        <%= select_tag(:listings_id, options_from_collection_for_select(Listing.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for guest_id -->
      <input type="hidden" name="guest_id" value="<%= @guest.id %>">

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
