<!-- Validation failure messages -->
<% if @bookingreview.errors.any? %>
  <% @bookingreview.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Bookingreview #<%= @bookingreview.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_bookingreview/<%= @bookingreview.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bookings_id -->
      <div class="form-group">
        <label for="bookings_id" class="control-label">
          Bookings
        </label>

        <%= select_tag(:bookings_id, options_from_collection_for_select(Booking.all, :id, :available, @bookingreview.bookings_id), :class => "form-control") %>
      </div>

      <!-- Label and input for accuracy -->
      <div class="form-group">
        <label for="accuracy" class="control-label">
          Accuracy
        </label>

        <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control" value="<%= @bookingreview.accuracy %>">
      </div>

      <!-- Label and input for communication -->
      <div class="form-group">
        <label for="communication" class="control-label">
          Communication
        </label>

        <input type="text" id="communication" name="communication" placeholder="Communication" class="form-control" value="<%= @bookingreview.communication %>">
      </div>

      <!-- Label and input for cleanliness -->
      <div class="form-group">
        <label for="cleanliness" class="control-label">
          Cleanliness
        </label>

        <input type="text" id="cleanliness" name="cleanliness" placeholder="Cleanliness" class="form-control" value="<%= @bookingreview.cleanliness %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @bookingreview.location %>">
      </div>

      <!-- Label and input for checkin -->
      <div class="form-group">
        <label for="checkin" class="control-label">
          Checkin
        </label>

        <input type="text" id="checkin" name="checkin" placeholder="Checkin" class="form-control" value="<%= @bookingreview.checkin %>">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="<%= @bookingreview.value %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @bookingreview.body %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Bookingreview
      </button>
      or
      <a href="/bookingreviews/<%= @bookingreview.id %>">Cancel</a>
    </form>
  </div>
</div>
